section#contact-info {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  padding: 10px;
  border-radius: 25px;
  margin-top: 3px;
}

.accomplishments {
  font-size: .8em;
}

#personal-objective:hover {
  background-color: orange;
}

section > p {
  font-weight: bold;
}
